.buttons {
    margin-top: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    text-align: center;
}

.buttons button {
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 15px;
    background-color: #7D70BA;
    color: white;
    border: 0;
}

