.image_box {
    margin-top: auto;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color:#93867F;
}

.image_box img {
    margin-top: 3px;
    background-color: #93867F;
}

.image_box h4 {
    background-color: #93867F;
}